^{:watch-dirs ["src"
               "devcards"
               "examples/asoiaf/agot/src"
               "examples/asoiaf/agot/devcards"]
  :extra-main-files {:devcards {:main fatlip.cards}
                     :devcards-agot {:main agot.cards}}}
{:main agot.core
 :devcards true}
